*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  height: 200%;
  background-color: #0A2B3E;
}


#banner img{
  width: 100%;
}

#main{
  width: 92%;
  height: 560px;
  background: linear-gradient(#66fffd,#fff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

#logo{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-top: -50px;
  text-align: center;
}

#banner{
  height: 350px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
}

#btn{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: linear-gradient(#8EFFFc,#6AF0D5);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  box-shadow: 0 0 0 8px rgba(140,237,243, .2), 0 0 0 16px rgba(140, 237, 243, .3);
  cursor: pointer;
}

#btn img{
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div p{
  position: absolute;
  top: 1000px;
}